/* CSS for entire site */
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

body {
    background-color: aliceblue;
}

h1 {
    font-size: 65px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 55px;
}

p {
    font-size: 40px;
}

.right-border {
    border-right: 3px solid #0000FF;
}

.image {
    width: 710px;
}

/* End CSS for entire site */

/* Begin CSS for Header */

header {
    background: url("../images/background.jpg");
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

header a {
    text-decoration: none;
    color: #fff;
    padding: 7px;
    background: transparent;
}

header a:hover {
    color: red;
}

/* Begin CSS for nav */

header nav ul  {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    
}

header nav ul li a {
    display: flex;
    text-decoration: none;
    color: #fff;
    margin: 7px;
    padding: 58px 7px 0 0;
    font-size: 22px;
    border-bottom: 2px #fff solid;
}

header nav ul li a:hover {
    color: #FF0000;
    border-bottom: 2px #FF0000 solid;
    border-bottom-width: 5px;
}

/* End CSS for nav */

/* End CSS for Header */

/* Begin CSS for About Me section */

.about-me {
    display: flex;
    flex-wrap: wrap;
}

.about-me h2 {
    padding-right: 48px;
    margin-right: 15px
}

.about-me p {
    display: flex;
    text-align: center;
    justify-content: right;
    flex: 1;
}

.about-me-head {
    display: flex;
    justify-content: right;
    align-content: flex-end;
    flex: 1 0 0 5%;
}

/* End CSS for About Me section */

/* Begin CSS for Work section */

.work {
    display: flex;
    flex-wrap: nowrap;
}

.work-box {
    display: flex;
    flex-wrap: wrap;
}

.work h2 {
    padding-right: 66px;
}

.work a {
    margin: 50px 0 10px 50px;
    text-decoration: none;
}

.img-blur {
    filter: blur(5px);
    border: 1px aliceblue solid;
    border-radius: 10px;
}

.img-blur:hover{
    filter: none;
    border: 1px aliceblue solid;
    border-radius: 10px;
}

.work-1-text h3{
    transform: translate(20%, -450%);
    color: #000;
}

.work-2-text h3{
    transform: translate(33%, -450%);
    color: #000;
}

.work-4-text h3{
    transform: translate(33%, -450%);
    color: #000;
}

/* End CSS for Work section */

/* Begin CSS for Contact Me section */

.contact-me {
    display: flex;
    justify-content: space-between;
}

.contact-me h2 {
    justify-content: start;
    margin-right: 25px;
}

.contact-me-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.contact-me a {
    text-decoration: none;
    color: #000;
    border-bottom: 2px black solid;
}

.contact-me a:hover {
    color: #FF0000;
    border-bottom: #FF0000 2px solid;
    border-bottom-width: 5px;
}

.quick-links-1, .quick-links-2, .quick-links-3, .quick-links-4 { 
    padding: 0 100px;
    display: flex;
    justify-content: flex-start;
}

/* End CSS for Contact Me section */

/* Begin CSS for Resume section */

.resume  {
    display: flex;
    flex-wrap: wrap;
}

.resume h2 {
    padding-right: 3px;
}

.resume-link-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume-link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    color: #000;
    border-bottom: 2px black solid;
    margin-left: 700px;
    /* transform: translate(300%, 50%); */
}

.resume-link:hover {
    color: #FF0000;
    border-bottom: #FF0000 2px solid;
}

/* End CSS for Resume section */

/* Begin mobile responisve section */

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: left;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: end;
    }

    header nav ul li a {
        font-size: 20px;
    }

    .about-me p {
        width: 100%;
    }

    .contact-me-box {
        display: flex;
        flex-direction: column;
    }

    .resume-link {
        transform: translate(100%, 50%);
    }
}

@media screen and (max-width: 768px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: left;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: end;
    }

    header nav ul li a {
        font-size: 20px;
    }

    .about-me p {
        width: 100%;
    }
    .resume-link {
        margin: 0;
    }
}

@media screen and (max-width: 575px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: left;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: end;
    }

    header nav ul li a {
        font-size: 20px;
    }

    .about-me p {
        width: 100%;
        font-size: 20px;
    }
    .resume-link {
    margin: 0;
    }
}

/* End mobile responsive section */
