@import '../../index.scss';

.contact-me {
    background-color: #443737;
    display: flex;

    .left{
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        color: #fff;
        background-color: #FF4D00;
        border-radius: 0 50px 50px 0;
        padding: 15px 0;

        @include mobile {
            justify-content: space-around;
        }
        
        h1 {
            @include mobile {
                font-size: 2rem;
            }
        }

        img {
            height: 50%;
            overflow: hidden;

            @include mobile {
                height: 15%;
            }
        }
    }

    .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            color: #fff;
            font-size: 2rem;
            text-align: center;

            @include mobile {
                font-size: 1.5rem;
            }
        }

        .form {
            width: 70%;
            height: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            background-color: #272121;
            border-radius: 15px;

            @include mobile {
                background-color: #272121;
                padding: 0 1rem ;
            }

            a {
                background-color: #FF4D00;
                color: #fff;
                text-decoration: none;
                padding: 0.5rem;
                border-radius: 5px;
            }

            input {
                width: 18.75rem;
                height: 1.8rem;
                font-size: 0.9rem;
                border-radius: 5px;
                border: none;

                @include mobile {
                    width: 8rem;
                }
            }

            textarea {
                width: 18.75rem;
                height: 12.5rem;
                font-size: 0.9rem;
                border: none;
                border-radius: 5px;

                @include mobile {
                    width: 8rem;
                }
            }

            button {
                width: 9.5rem;
                height: 3rem;
                color: #fff;
                background-color: #FF4D00;
                border: none;
                border-radius: 5px;
                font-weight: 500;
                cursor: pointer;

                @include mobile {
                    width: 8rem;
                }

                &:focus {
                    outline: none;

                    @include mobile {
                        width: 8rem;
                    }
                }
            }

            span {
                color: #fff;
                background-color: #881f9b;
                padding: 0.5rem;
                border-radius: 5px;
                animation: pulse 2000ms ease;
                animation-fill-mode: forwards;

                @include mobile {
                    width: 7rem;
                    border-radius: 5px;
                }
            }
        }
    }

    @keyframes pulse {
        0% {
            background-color: #881f9b;
        }

        100% {
            background-color: rgb(0, 175, 0);
        }
    }
}