.nav {
    width: 100%;
    height: 60px;
    background-color: #881f9b;
    position: fixed;
    top: 0;
    z-index: 3;
    color: #fff;
    transition: all 250ms ease;

    .container {
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
            display: flex;
            align-items: center;

            .logo {
                font-size: 30px;
                font-weight: 700;
                text-decoration: none;
                color: inherit;
                margin-right: 2rem;
            }

            .contact {
                display: flex;
                align-items: center;
                background-color: inherit;
                margin-right: 0.75rem;

                .icon {
                    font-size: 1.85rem;
                    margin-right: 0.5rem
                }

                span {
                    font-size: 1rem;
                    font-weight: 400;
                }
            }
        }
    }

    .right{
        .hamburger{
            width: 2rem;
            height: 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
            overflow: hidden;
            

            span {
                width: 100%;
                height: 3px;
                background-color: #fff;
                transform-origin: left;
                transition: all 500ms ease;
            }

            
        }
    }

    &.active {
        background-color: #FF4D00;

        .hamburger {
            overflow: hidden;
            span {
                
                &:first-child {
                    background-color: #fff;
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    transform: translateX(-5rem);
                }
                &:nth-child(3) {
                    background-color: #fff;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .contact {
        display: none !important;
    }
}